<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hotel.Properties.Settings.hotelConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\pc\Desktop\Hotel\db(Copu_IN_C_hoteldb)\hotel.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>